<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Decision Support System</title>
<link rel="stylesheet" href="static/materialize.min.css">
<link rel="stylesheet" href="static/prism.min.css">
<link rel="stylesheet" href="static/style.css">

<script type="text/javascript" src="static/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="static/angular.min.js"></script>
<script type="text/javascript" src="static/prism.min.js"></script>

<script src="static/materialize.min.js"></script>
<script type="text/javascript" src="static/angular-materialize.js"></script>
<script type="text/javascript" src="static/contractquery.js"></script>

</head>
<body>
	<nav class="black z-depth-2">
        <ul class="hide-on-med-and-down">
            <li class="left"><a href="#!"><font size="5">Decision Support Console</font></a></li>
            <li class="right"><a href="/orderPage">How much to order?</a></li>
            <li class="right"><a href="/materialPage">When to buy material?</a></li>
            <li class="right"><a href="/deliveryPage">Where to deliver?</a></li>
            <li class="right"><a href="/surplusPage">What to do with surplus material?</a></li>
            <li class="right picker__list-item--selected deep-purple"><a href="#!">Whom to award the contract?</a></li>
        </ul>
    </nav>
    <br>
	<form action="/contractQuery" method="post" role="form" id="contractForm">
        <nav class="deep-purple z-depth-1">
            <ul class="hide-on-med-and-down">
                <li class="left">&nbsp;&nbsp;Parameters</li>
            </ul>
        </nav>
		<table>
			<tr>
				<td>
					<div class="card-panel z-depth-2">
						<div class="input-field">
							<input name="d" id="d" type="number" class="validate">
							<label for="d">Demand per week</label>
						</div>
						<div class="input-field">
							<input name="ad" id="ad" type="number" class="validate">
							<label for="ad">Annual Demand</label>
						</div>
						<div class="input-field">
							<input name="npo" id="npo" type="number" class="validate">
							<label for="npo">Number of orders</label>
						</div>
						<div class="input-field">
							<input name="uc" id="uc" type="number" class="validate">
							<label for="uc">Unit Cost</label>
						</div>
						<div class="input-field">
							<input name="cpol" id="cpol" type="number" class="validate">
							<label for="cpol">Cost Per Order (Local)</label>
						</div>
						<div class="input-field">
							<input name="cpon" id="cpon" type="number" class="validate">
							<label for="cpon">Cost Per Order (Non Local)</label>
						</div>
						<div class="input-field">
							<input name="cpov" id="cpov" type="number" class="validate">
							<label for="cpov">Cost Per Order (Vendor Managed Inventory)</label>
						</div>
                        <div class="input-field">
							<input name="ccl" id="ccl" type="number" class="validate">
							<label for="ccl">Carrying Cost (Local)</label>
						</div>
						<div class="input-field">
							<input name="ccn" id="ccn" type="number" class="validate">
							<label for="ccn">Carrying Cost (Non Local)</label>
						</div>
						<div class="input-field">
							<input name="ccv" id="ccv" type="number" class="validate">
							<label for="ccv">Carrying Cost (Vendor Managed Inventory)</label>
						</div>
						<div class="input-field">
							<input name="oq" id="oq" type="number" class="validate">
							<label for="oq">Order Quantity</label>
						</div>
						<div class="input-field">
							<input name="ltl" id="ltl" type="number" class="validate">
							<label for="ltl">Lead Time (Local)</label>
						</div>
						<div class="input-field">
							<input name="ltn" id="ltn" type="number" class="validate">
							<label for="ltn">Lead Time (Non Local)</label>
						</div>
						<div class="input-field">
							<input name="ltv" id="ltv" type="number" class="validate">
							<label for="ltv">Lead Time (Vendor Managed Inventory)</label>
						</div>
                        <div class="input-field">
							<input name="al" id="al" type="number" class="validate">
							<label for="al">Unavailability Probability (Local)</label>
						</div>
						<div class="input-field">
							<input name="an" id="an" type="number" class="validate">
							<label for="an">Unavailability Probability (Local)</label>
						</div>
						<div class="input-field">
							<input name="av" id="av" type="number" class="validate">
							<label for="av">Unavailability Probability (Vendor Managed Inventory)</label>
						</div>
						<div class="input-field">
							<input name="acl" id="acl" type="number" class="validate">
							<label for="acl">Unavailability Cost (Local)</label>
						</div>
					</div>
                </td>
                <td>
                    <div class="card-panel z-depth-2">
						<div class="input-field">
							<input name="acn" id="acn" type="number" class="validate">
							<label for="acn">Unavailability Cost (Non Local)</label>
						</div>
						<div class="input-field">
							<input name="acv" id="acv" type="number" class="validate">
							<label for="acv">Unavailability Cost (Vendor Managed Inventory)</label>
						</div>
						<div class="input-field">
							<input name="bol" id="bol" type="number" class="validate">
							<label for="bol">Backorders (Local)</label>
						</div>
                        <div class="input-field">
							<input name="bon" id="bon" type="number" class="validate">
							<label for="bon">Backorders (Non Local)</label>
						</div>
						<div class="input-field">
							<input name="bov" id="bov" type="number" class="validate">
							<label for="bov">Backorders (Vendor Managed Inventory)</label>
						</div>
                        <div class="input-field">
							<input name="ucl" id="ucl" type="number" class="validate">
							<label for="ucl">Uncertainity in Delivey Schedule (Local)</label>
						</div>
                        <div class="input-field">
							<input name="ucn" id="ucn" type="number" class="validate">
							<label for="ucn">Uncertainity in Delivey Schedule (Non Local)</label>
						</div>
                        <div class="input-field">
							<input name="ucv" id="ucv" type="number" class="validate">
							<label for="ucv">Uncertainity in Delivey Schedule (Vendor Managed Inventory)</label>
						</div>
                        <div class="input-field">
							<input name="rc" id="rc" type="number" class="validate">
							<label for="rc">Rejection Cost</label>
						</div>
                        <div class="input-field">
							<input name="sc" id="sc" type="number" class="validate">
							<label for="sc">Surplus Cost</label>
						</div>
                        <div class="input-field">
							<input name="tc" id="tc" type="number" class="validate">
							<label for="tc">Transportation Cost</label>
						</div>
                        <div class="input-field">
							<input name="shc" id="shc" type="number" class="validate">
							<label for="shc">Shortages Cost</label>
						</div>
                        <div class="input-field">
							<input name="stc" id="stc" type="number" class="validate">
							<label for="stc">Storage Capacity</label>
						</div>
                        <div class="input-field">
							<input name="dl" id="dl" type="number" class="validate">
							<label for="dl">Distance from Local supplier to Jobsite</label>
						</div>
                        <div class="input-field">
							<input name="dn" id="dn" type="number" class="validate">
							<label for="dn">Distance from Non Local supplier to Jobsite</label>
						</div>
                        <div class="input-field">
							<input name="dv" id="dv" type="number" class="validate">
							<label for="dv">Distance from VMI to Jobsite</label>
						</div>
						<div class="input-field">
							<input name="sd" id="sd" type="number" class="validate">
							<label for="sd">Standard Deviation of Demand</label>
						</div>
                        <div class="input-field">
							<input name="sli" id="sli" type="number" class="validate">
							<label for="sli">Service Level Importance</label>
						</div>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>
					<button class="btn waves-effect waves-light deep-purple z-depth-2"
						toast='click' data-message="Query Sent!"
						onclick="sendRequest(); return false;">Submit Query</button>
					<button class="btn waves-effect waves-light deep-purple z-depth-2" type="reset" onclick="resetData();">Reset Data</button>
				</td>
			</tr>
		</table>
        <div id="rdd"></div>
		<div id="resultDiv">
            <table id="rtable">
            </table>
        </div>
	</form>
</body>
</html>