<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Draw.io Diagram</title>
<meta http-equiv="refresh" content="0;URL='https://www.draw.io/#G1yL543L0vAQ_FA-q1XmJcExJH4b3tlcGM'"/>
<meta charset="utf-8"/>
</head>
<body>
<div class="mxgraph" style="max-width:100%;border:1px solid transparent;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;nav&quot;:true,&quot;resize&quot;:true,&quot;xml&quot;:&quot;&lt;mxfile userAgent=\&quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.99 Safari/537.36\&quot; version=\&quot;8.9.2\&quot; editor=\&quot;www.draw.io\&quot; type=\&quot;google\&quot;&gt;&lt;diagram id=\&quot;7ba6e7d5-f99d-e054-21e3-26ef7c593f11\&quot; name=\&quot;Page-1\&quot;&gt;dZFNE4IgEIZ/DXeFmcyzWV06eehMgMiEroM4Wr8+DcwYiwu7z7sf7IJIVo8nQ9vqAlxohCM+InJAGMdxGk3XTB6OJEnsgDSK+6AVFOopPPR5sldcdEGgBdBWtSFk0DSC2YBRY2AIw0rQYdeWSrEBBaN6S6+K22qZa5euwlkoWfnWe5w44UbZXRroG98PYVK+j5NrutTyg3YV5TB8IZIjkhkA66x6zISed7uszeUd/6ifdxvR2B8Jk7HWnpzgA0n+Ag==&lt;/diagram&gt;&lt;/mxfile&gt;&quot;,&quot;toolbar&quot;:&quot;pages zoom layers lightbox&quot;,&quot;page&quot;:0}"></div>
<a style="position:absolute;top:50%;left:50%;margin-top:-128px;margin-left:-64px;" href="https://www.draw.io/#G1yL543L0vAQ_FA-q1XmJcExJH4b3tlcGM" target="_blank"><img border="0" src="https://www.draw.io/images/drawlogo128.png"/></a>
</body>
</html>
